<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center" style="padding-top: 2em;">
    <h1><%= current_day %></h1>
    <p><%= current_month %></p>
    <p><%= link_to "Sprawdź wydarzenia", day_path(get_day), class: "btn btn-info", role: "button" %></p>
  </div>
</div>